{{!-- Page to display all articles, or a message that states there are none --}}
<div class="container-fluid">
    {{#if articles}}

        <div class="d-flex flex-wrap">
            {{#each articles}}
                <div class="card m-auto col-sm-6 col-md-4 col-lg-3">
                    <a class="nav-link" href="{{link}}" title="Link to article: {{link}}">
                    <img src="{{imgSrc}}" class="card-img-top" alt="Article image from Free Code Camp">
                    <small class="card-subtitle mt-1 m-0 text-muted">Click to view article.</small></a>
                    <div class="card-body p-2">
                        <h6 class="card-title m-0">{{author}}</h6>
                        
                        <p class="card-text p-1 mb-1">{{title}}</p>


                    </div>
                    <div class="btn-group p-0 m-0" role="group">
                        <button type="button" class="btn btn-success" title="Create a new comment for {{title}}" data-toggle="modal" data-target="#comment-modal" data-title="{{title}}" data-articleid="{{id}}"><i class="fas fa-comments"> Comment</i></button>
                        <button type="button" class="btn btn-success" title="View all comments for {{title}}" data-toggle="modal" data-target="#view-comments-modal" data-title="{{title}}" data-articleid="{{id}}">View Comments</button>
                    </div>
                </div>
            {{/each}}
        </div>
        
        {{!--place new comment modal --}}
        {{> new-comment-modal}}

        {{!-- View all comments on article modal --}}
        {{> article-comments-modal}}

    {{else}}
        {{> noarticles}}
    {{/if}}
    
</div>